<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar akun mahasiswa</title>
    <link rel="stylesheet" href="/css/daftar-akun-mahasiswa.css">
</head>
<body>
    <div class="container">
        <h1>Daftarkan akun Mahasiswa</h1>
        <div class="form-container">
            <label for="nim">NIM:</label>
            <input type="text" id="nim" placeholder="[NIM]">

            <label for="nama">Nama Mahasiswa:</label>
            <input type="text" id="nama" placeholder="[Nama mahasiswa]">

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="[Password]">
        </div>
        <div class="button-selesai">
                <button>Selesai</button>
        </div>
        <div class="button-kembali">
                <button>Kembali</button>
        </div>
    </div>
</body>
</html>