<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Mahasiswa</title>
    <link rel="stylesheet" href="/css/daftarmahasiswa.css">
</head>
<body>
    <nav>
        <div class="back">
            <a href="javascript:void(0)" onclick="goBack()"><h1><</h1></a>
        </div>
        <h3>Daftar Mahasiswa</h3>
        <div class="tambah">
            <a href=""><h1>+ <span>Tambah angkatan</span></h1></a>
        </div>
    </nav>

    <div class="content">

        {{#each angkatan}}
        <div class="box">
            <div class="kiri">
                <h4>Angkatan {{ this.angkatan }}</h4>
                <p><span>{{ this.jumlah }}</span> Mahasiswa</p>
            </div>
            <div class="kanan">
                <a href="/list/angkatan/{{ this.angkatan }}"><button>Lihat Daftar</button></a>
            </div>
        </div>
        {{/each}}
    </div>

    <script>
        function goBack(){
            window.history.back();
        }
    </script>
    
</body>
</html>