<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Mahasiswa</title>
    <link rel="stylesheet" href="/css/dashboardmahasiswa.css">
</head>
<body>
    <div class="sidebar">
        <div class="profil">
            <a href="/profil/profilMahasiswa"><img src="/gambar/profile icon.jpg" alt=""></a>
            <h4>{{ nama_mahasiswa }}</h4>
            <p>{{ nim }}</p>
        </div>
        <div class="garis"></div>
        <div class="menu">
            <a href=""><h4>Progress saya</h4></a>
            <a href=""><h4>Notifikasi</h4></a>
            <a href=""><h4>Penjadwalan</h4></a>
            <a href=""><h4>Chat</h4></a>
        </div>
        <a href=""><h4 class="logout">Logout</h4></a>
    </div>
    
    <div class="welcome">
        <h1>Halo, <span>{{ nama_mahasiswa }}</span>
        <br>Ayo selesaikan Tugas Akhirmu
        <br>agar cepat lulus!
        </h1>
        <h5><span>[Nama dosen]</span> sedang memantau progress
        <br>Tugas Akhirmu, lho.
        </h5>
    </div>

    <div class="umum">
        <img src="/gambar/referensi TA.png" alt="">
        <img src="/gambar/faq.png" alt="">
    </div>
    
</body>
</html>