<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Dosen</title>
    <link rel="stylesheet" href="/css/dashboarddosen.css">
</head>
<body>
    <div class="sidebar">
        <div class="profil">
            <a href="/profil/profilDosen"><img src="/gambar/icon profile.png" alt=""></a>
            <h4>{{ nama_dosen }}</h4>
            <p>{{ nip }}</p>
        </div>
        <div class="garis"></div>
        <div class="menu">
            <a href="/list/daftarmahasiswa"><h4>Daftar mahasiswa</h4></a>
            <a href=""><h4>Progress mahasiswa</h4></a>
            <a href=""><h4>Notifikasi</h4></a>
            <a href="/penjadwalan/janji-dosen"><h4>Penjadwalan</h4></a>
            <a href=""><h4>Chat</h4></a>
        </div>
        <a href="/auth/logout-dosen"><h4 class="logout">Logout</h4></a>
    </div>
    
    <div class="welcome">
        <h1>Selamat datang, <span>{{ nama_dosen }}</span>
        <br>Pantau progress Tugas Akhir
        <br>Mahasiswa bimbinganmu di sini!
        </h1>
        <h5>Ada <span>{{ jumlah }} mahasiswa</span> yang sedang menunggu responmu
        <br>untuk revisi tugas akhir mereka
        </h5>
    </div>
    
</body>
</html>