<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Monitoring Tugas Akhir Mahasiswa</h1>
        <h4>Masuk ke akun Anda sebagai :</h4>
        <a href="logindosen">
            <button class="dosen">
                <img src="/gambar/Vector.png" alt="">
                <div class="garis"></div>
                DOSEN
            </button>
        </a>
        <br>
        <a href="loginmahasiswa">
            <button class="mahasiswa">
                <img src="/gambar/Vector2.png" alt="">
                <div class="garis"></div>
                MAHASISWA
            </button>
        </a>
    </div>
</body>
</html>