<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janji Hari Ini</title>
    <link rel="stylesheet" href="/css/janji-hariini.css ini.css ini.css">
</head>
<body>

        <div class="button-buatjanji">
                <button onclick="window.location.href='buat-janji.hbs'">Buat Janji</button>
        </div>

        <div class="button-hariini">
                <button>Hari ini</button>
        </div>
      
        <div class="button-mendatang">
                <button onclick="window.location.href='janji-mendatang.hbs'">Mendatang</button>
        </div>

        <div class="button-riwayat">
                <button onclick="window.location.href='riwayat-pertemuan.hbs'">Riwayat Pertemuan</button>
        </div>  

    <div class="container">
        <div class="content">
            <h2>Pertemuan ke-4</h2>
            <div class="meeting-info">
                <div class="info">
                    <span>Nama dosen</span>
                    <span>:</span>
                    <span>[Nama dosen pembimbing]</span>
                </div>
                <div class="info">
                    <span>Tanggal</span>
                    <span>:</span>
                    <span>25/06/2024</span>
                </div>
                <div class="info">
                    <span>Waktu</span>
                    <span>:</span>
                    <span>13:00 WIB</span>
                </div>
                <div class="info">
                    <span>Tempat</span>
                    <span>:</span>
                    <span>[Ruang dosen]</span>
                </div>
                <div class="meeting-action">
                        <button>Selesai</button>
                </div>
            </div>
        </div>
    </div>

    <button class="back-button">
        <span class="arrow-left"></span>
        </button>
</body>
</html>