<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Janji</title>
    <link rel="stylesheet" href="/css/janji-dosen.css">
</head>
<body>
    <nav>
        <div class="back">
            <a href="javascript:void(0)" onclick="goBack()">
                <img src="/gambar/left.png" alt="">
            </a>
        </div>
        <div class="menu">
            <a href="" class="active">Buat Janji</a>
            <a href="">Hari Ini</a>
            <a href="">Mendatang</a>
            <a href="">Riwayat Pertemuan</a>
        </div>
    </nav>

    <form>
        <div class="input">
            <label for="">Mahasiswa</label>
            <div class="add">
                <button>+</button>
                <div class="nama">
                    <p>mahasiswa 1</p>
                    <p>mahasiswa 2</p>
                    <p>mahasiswa 3</p>
                    <p>mahasiswa 4</p>
                    <p>mahasiswa 5</p>
                </div>
            </div>
        </div>
        <div class="input">
            <label for="">Tanggal</label>
            <input type="date">
        </div>
        <div class="input">
            <label for="">Waktu</label>
            <input type="time">
        </div>
        <div class="input">
            <label for="">Tempat</label>
            <input type="text">
        </div>
        <div class="input">
            <label for="">Pesan untuk dosen</label>
            <textarea name="" id="" rows="8"></textarea>
        </div>
        <button type="submit" class="kirim">KIRIM</button>
    </form>
    
</body>
</html>