<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Janji</title>
    <link rel="stylesheet" href="/css/janji-dosen.css">
</head>
<body>
    <nav>
        <div class="back">
            <a href="javascript:void(0)" onclick="goBack()">
                <img src="/gambar/left.png" alt="">
            </a>
        </div>
        <div class="menu">
            <a href="" class="active">Buat Janji</a>
            <a href="">Hari Ini</a>
            <a href="/penjadwalan/jadwal-mendatang">Mendatang</a>
            <a href="">Riwayat Pertemuan</a>
        </div>
    </nav>

    <form>
        <div class="input">
            <label for="">Mahasiswa</label>
            <div class="add">
                <button type="button" onclick="navigateTo()">+</button>
                <div class="nama">
                    <p>[jumlah mahasiswa]</p>
                </div>
            </div>
        </div>
        <div class="input">
            <label for="">Tanggal</label>
            <input type="date" id="tanggal">
        </div>
        <div class="input">
            <label for="">Waktu</label>
            <input type="time" id="waktu">
        </div>
        <div class="input">
            <label for="">Tempat</label>
            <input type="text" id="tempat">
        </div>
        <div class="input">
            <label for="">Pesan untuk mahasiswa</label>
            <textarea name="" id="pesan" rows="8"></textarea>
        </div>
        <button type="button" id="kirim" class="kirim">KIRIM</button>
    </form>

    <script>

        function goBack(){
            window.history.back();
        }

        function navigateTo(){
            window.location.href = '/penjadwalan/pilih-mahasiswa';
        }

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const selectedStudents = JSON.parse(localStorage.getItem('mahasiswaTerpilih'));
            
            document.getElementById('kirim').addEventListener('click', function(){
                let tanggal = document.getElementById('tanggal').value;
                let waktu = document.getElementById('waktu').value;
                let tempat = document.getElementById('tempat').value;
                let pesan = document.getElementById('pesan').value;

                let detailJanji = {
                    tanggal: tanggal,
                    waktu: waktu,
                    tempat: tempat,
                    pesan: pesan,
                    students: selectedStudents
                }

                fetch('/penjadwalan/kirim-janji', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json'
                    },
                    body: JSON.stringify(detailJanji)
                })
                .then(response => response.json())
                .then(data => {
                    if(data.success){
                        console.log("janji berhasil disimpan");
                        localStorage.removeItem('mahasiswaTerpilih');
                    } else{
                        console.log("janji gagal disimpan");
                    }
                });
            });
        });


    </script>
    
</body>
</html>