<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Progress</title>
    <link rel="stylesheet" href="/css/kirim-progress.css">
</head>
<body>

    <nav>
        <div class="back">
            <a href="javascript:void(0)" onclick="goBack()">
                <img src="/gambar/left.png" alt="">
            </a>
        </div>
        <div class="menu">
            <a href="" class="active">Upload Progress</a>
            <a href="">Deadline Revisi</a>
            <a href="/progress/riwayat-progress">Riwayat Progress</a>
        </div>
    </nav>

    <form action="/upload/kirim-progress" method="post" enctype="multipart/form-data">
        <div class="input">
            <label for="">Dosen Pembimbing</label>
            <input type="text" id="dosen" value="{{nama_dosen}}">
        </div>
        <div class="input">
            <label for="">Subjek Dokumen</label>
            <input type="text" id="subjek" name="subjek">
        </div>
        <div class="input">
            <label for="">Upload File</label>
            <input type="file" id="dokumen" name="dokumen">
        </div>
        <div class="input">
            <label for="">Pesan untuk dosen</label>
            <textarea name="pesan" id="pesan" rows="8"></textarea>
        </div>
        <button type="submit" id="kirim" class="kirim">KIRIM</button>
    </form>

    <script>
        function goBack(){
            window.history.back();
        }
    </script>
    
</body>
</html>