<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Mahasiswa</title>
    <link rel="stylesheet" href="/css/namamahasiswa.css">
</head>
<body>
    <nav>
        <div class="back">
            <a href="daftarmahasiswa"><h1><</h1></a>
        </div>
        <h3>Mahasiswa yang dibimbing</h3>
        <div class="search">
            <input type="search" placeholder="Cari berdasarkan nama atau NIM">
            <a href=""><button>Cari</button></a>
        </div>
    </nav>

    <div class="content">
        <div class="box">
            <div class="kiri">
                <h4>Angkatan 20XX</h4>
                <p><span>XX</span> Mahasiswa</p>
            </div>
            <div class="kanan">
                <a href=""><button>Daftarkan Mahasiswa</button></a>
            </div>
        </div>
    </div>

    <table>
        <thead>
            <th>NIM</th>
            <th>Nama mahasiswa</th>
            <th>Waktu enrol</th>
            <th>Status bimbingan</th>
            <th>Aksi</th>
        </thead>
        <tbody>
            <tr>
                <td>XXXXXXXXXX</td>
                <td>[nama mahasiswa]</td>
                <td>dd:MM:yyyy hh:mm</td>
                <td>Sedang masa bimbingan</td>
                <td><a href="lihatprofilmahasiswa"><button>Lihat profil</button></a></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>