<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisi</title>
    <link rel="stylesheet" href="/css/revisi.css">
</head>
<body>

    <div class="button-progres">
        <button onclick="window.location.href='progres.hbs'">Buat Progress</button>
    </div>

    <div  class="button-revisi">
        <button>Deadline Revisi</button>
    </div>

    <div class="button-riwayat">
        <button onclick="window.location.href='riwayat-terkirim.hbs'">Riwayat Progress</button>
    </div>
    
    <div class="app">
        <div class="app-content">
            <div class="progress-list">
                <div class="progress-item">
                    <div class="progress-item-details">
                        <div class="progress-item-title">Progress ke-1</div>
                        <div class="progress-item-subject">Draft Proposal</div>
                        <div class="progress-item-date">Telah dikoreksi pada 18/06/2024</div>
                    </div>
                    <div class="progress-item-deadline">
                        <div class="progress-item-deadline-label">Deadline:</div>
                        <div class="progress-item-deadline-date">19/06/2024</div>
                    </div>
                </div>
                <div class="progress-item">
                    <div class="progress-item-details">
                        <div class="progress-item-title">Progress ke-2</div>
                        <div class="progress-item-subject">Revisi Proposal</div>
                        <div class="progress-item-date">Telah dikoreksi pada 22/06/2024</div>
                    </div>
                    <div class="progress-item-deadline">
                        <div class="progress-item-deadline-label">Deadline:</div>
                        <div class="progress-item-deadline-date">23/06/2024</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="back-button">
        <div class="arrow-left"></div>
    </button>

</body>
</html>