<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>riwayat-pertemuan</title>
    <link rel="stylesheet" href="/css/riwayat-pertemuan.css">
</head>>
<body>

  <div class="button-buatjanji">
    <button onclick="window.location.href='buat-janji.hbs'">Buat Janji</button>
</div>

<div class="button-hariini">
  <button onclick="window.location.href='janji-hari ini.hbs'">Hari ini</button>
</div>

<div class="button-mendatang">
        <button onclick="window.location.href='riwayat-pertemuan.hbs'">Mendatang</button>
</div>

<div class="button-riwayat">
        <button>Riwayat Pertemuan</button>
</div> 

<button class="back-button">
  <span class="arrow-left"></span>
  </button>

  <table>
    <thead>
      <tr>
        <th>Pertemuan</th>
        <th>Nama Dosen</th>
        <th>Tempat</th>
        <th>Waktu</th>
        <th>Status</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>[Nama dosen]</td>
        <td>[Ruang dosen]</td>
        <td>[20/06/2024] 15:00</td>
        <td>Pertemuan selesai</td>
        <td><button>Lihat Detail</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>[Nama dosen]</td>
        <td>[Seminar SI]</td>
        <td>[22/06/2024] 13:30</td>
        <td>Pertemuan selesai</td>
        <td><button>Lihat Detail</button></td>
      </tr>
      <tr>
        <td>3</td>
        <td>[Nama dosen]</td>
        <td>[Ruang dosen]</td>
        <td>[23/06/2024] 16:00</td>
        <td>Dibatalkan oleh dosen</td>
        <td><button>Lihat Detail</button></td>
      </tr>
    </tbody>
  </table>

</body>
</html>