<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>riwayat-dikoreksi</title>
    <link rel="stylesheet" href="/css/riwayar-dikoreksi.css">
</head>
<body>
        <div class="button-progres">
            <button onclick="window.location.href='progres.hbs'">Buat Progress</button>
            </div>
        
            <div  class="button-revisi">
            <button onclick="window.location.href='revisi.hbs'">Deadline Revisi</button>
            </div>
        
            <div class="button-riwayat">
                <button>Riwayat Progress</button>
            </div>

            <div class="button-terkirim">
            <button onclick="window.location.href='riwayat-terkirim.hbs'">Terkirim</button>
            </div>
    
            <div class="button-dikoreksi">
                <button>Telah dikoreksi</button>
            </div>

        <div class="content">
            <div class="item">
                <i class="fa fa-file-alt"></i>
                <div class="progress-text">Progress ke-1</div>
                <div class="document-text">[Draft Proposal]</div>
                <p><button class="btn-secondary">Lihat hasil koreksi</button></p>
            </div>
            <div class="item">
                <i class="fa fa-file-alt"></i>
                <div class="progress-text">Progress ke-2</div>
                <div class="document-text">[Revisi Proposal]</div>
                <p><button class="btn-secondary">Lihat hasil koreksi</button></p>
            </div>
            <div class="item">
                <i class="fa fa-file-alt"></i>
                <div class="progress-text">Progress ke-3</div>
                <div class="document-text">[Revisi Proposal]</div>
                <p><button class="btn-secondary">Lihat hasil koreksi</button></p>
            </div>
        </div>

        <button class="back-button">
            <div class="arrow-left"></div>
        </button>
</body>
</html>