body {
        font-family: sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 20px auto;
        background-color: white;
        padding: 20px 50px 30px 50px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
    }

    input[type="text"] {
        padding: 10px;
        margin-bottom: 40px;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 10px;
    }

    input[type="password"] {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 5px;
    }
    
.button-selesai button {
        background-color: #29536D; 
        color: white; 
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px; 
        margin-left: 150px;
        margin-top: 20px;
        font-weight: bolder;
      }
      
      .button-selesai button:hover {
        background-color: #729098;
      }

      .button-kembali button{
        background-color: #729098;
        color: black; 
        border-radius: 20px;
        padding: 10px 20px;
        border: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        margin-left: 400px;
        margin-top: -55px;
        font-size: 16px;
        font-weight: bolder;
      }

      .button-kembali button:hover {
        background-color: #29536D;
      }
      
      