body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .button-progres {
        position: absolute;
        top: 0;
        left: 400px;
        margin-top: 50px;
        margin-left: 50px;
        z-index: 1;
        }
          
        .button-progres button {
            padding: 12px 35px;
            cursor: pointer;
            background-color: white;
            color: black;
            border: 1px solid;
            border-radius: 25px;
            font-size: larger;
            font-weight: bold;
            }
          
        .button-progres button:hover {
            background-color: #29536D;
            }
    
    .button-revisi {
        position: absolute;
        top: 0;
        left: 650px;
        margin-top: 50px;
        margin-left: 50px;
        z-index: 1;
        }
          
        .button-revisi button {
            padding: 12px 35px;
            cursor: pointer;
            background-color: white;
            color: black;
            border: 1px solid;
            border-radius: 25px;
            font-size: larger;
            font-weight: bold;
            }
          
        .button-revisi button:hover {
            background-color: #29536D;
            }
    
    .button-riwayat {
        position: absolute;
        top: 0;
        left: 950px; 
        margin-top: 50px;
        margin-left: 50; 
        z-index: 1;
        }
                  
        .button-riwayat button {
            padding: 12px 35px;
            cursor: pointer;
            background-color: #29536D;
            color: #fff;
            border: none;
            border-radius: 25px;
            font-size: larger;
            font-weight: bolder;
            }
                  
        .button-riwayat button:hover {
            background-color: #29536D;
            }

            .button-terkirim {
                position: absolute; 
                top: 150px; 
                left: 630px; 
                margin: 0; 
                padding: 0;
              }
              
              .button-terkirim button {
                display: inline; 
                font-size: 20px; 
                font-weight: bolder; 
                color: #729098; 
                text-decoration:none;
                background: none;
                border: none;
              }

              .button-terkirim button:hover {
                color: #29536D; 
                text-decoration: none;
              }

              .button-dikoreksi {
                position: absolute; 
                top: 150px; 
                right: 580px; 
                margin: 0; 
                padding: 0;
              }
              
              .button-dikoreksi button {
                display: inline; 
                font-size: 20px; 
                font-weight: bolder; 
                color: #29536D; 
                text-decoration:underline;
                background: none;
                border: none;
              }

    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    }
    
    .item {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        width: 250px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid;
        height: 250px;
    }
    
    .item i {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .item .progress-text {
        font-weight: bold;
        margin-top: 100px;
    }
    
    .item .document-text {
        font-size: 14px;
    }

      .btn-secondary {
        background-color: #fff;
        color: black;
        border: 1px solid #00559C;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        bottom: 10px;
        }

        .btn-secondary:hover {
                background-color: #729098;
        }
    
      .back-button {
        position: absolute;
        top: 55px;
        left: 200px;
        background-color: #729098;
        border: none;
        padding: 10px 5px;
        border-radius: 25px;
        cursor: pointer;
      }
              
        .arrow-left {
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 10px 10px;
                border-color: transparent #333 transparent transparent;
                margin-right: 15px;
                vertical-align: middle;

              }
              
        .back-button:hover {
                background-color: #29536D;
              }